// Footer CSS

.footer {
    border-top: 1px solid #eaeaea;
    
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .text-center {
      font-weight: bold;
    }
  
    .flex-column {
      text-align: right;
    }
  
    .flex-column a {
      color: #007bff;
      text-decoration: none;
      margin-bottom: 5px;
    }
  
    .flex-column a:hover {
      text-decoration: underline;
    }
  
    .ml-2 {
      margin-left: 10px;
    }
  }
  