
<!-- Footer  -->

<footer class="footer mt-auto  text-white bg-dark" >
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="assets/logo.jpg" alt="Company Logo" height="40">
        <span class="ml-2">© 2024 Reward</span>
      </div>
      <div class="text-center">
        <span>Version 2.2.2</span>
      </div>
      <div >
        <ul class="list-unstyled pt-5">
            <li style="font-weight: bold;">About</li>
            <li>Contact Us</li>
            <li>Privacy</li>
            <li>Terms & Conditions</li>
        </ul>
      </div>
    </div>
  </footer>
  